.header
.body
  .side-bar
    .user-name
      .top-items
        .top-items__name
          くまき
        .top-items__icons
          .left-icon
            = icon('far', 'edit')
          %span<>
          .right-icon
            = icon('fas', 'cog')
    .group-list
      .groups
        .group__name
          たけし軍団
        .group__messages
          アイーン
      .groups
        .group__name
          たけし軍団
        .group__messages
          アイーン
      .groups
        .group__name
          たけし軍団
        .group__messages
          アイーン

